@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("assets/fonts/Source\ Sans\ Pro/SourceSansPro-Regular.ttf") format("truetype");
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 68px 90px;
    background: #949396;
}

.title h1 {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    color: #2F2F2F;
}



.roles{
    min-height: 40vh;
    padding: 50px 90px;
    display: flex;
    flex-direction: column;
    gap:40px;
}

.roles h1{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #252525;
}

.roles p{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #252525;
}



.roles a{
    align-items: center;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    background: #949396;
    border-radius: 10px;
    gap: 20px;
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.25);
}

.roles a h1{
    font-size: 28px;
}

button {
    width: 150px;
    height: 60px;
    border: 3px solid #5386E4;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 900;
    font-family: 'Roboto';
}

button:hover {
    background: #5386E4;
    color: white;
    font-size: 1.5em;
}

@media(max-width: 1170px) {


    .title {
        padding: 32px 23px;
    }

    .title h1 {
        font-size: 40px;
    }




    .roles{
        gap: 20px;
        min-height: 40vh;
        padding: 20px 23px;
    }

    .roles a h1 {
        font-size: 24px;
    }
}
