@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("assets/fonts/Source\ Sans\ Pro/SourceSansPro-Regular.ttf") format("truetype");
}
.pricelist{
    min-height: 70vh;
}

.title {
    padding: 68px 90px;
    background: #949396;
}

.title h1 {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    color: #2F2F2F;
}

.pricecolumn{
    padding: 50px 90px;
    display: flex;
    flex-direction: column;
    gap:40px;
}

.pricecolumn h1{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #252525;
}

.pricecolumn p{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #252525;
}

.price{
    text-align: end;
    width: fit-content;
    display: flex;
    justify-content: end;
}

.pricetile {
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
    background: #949396;
    border-radius: 10px;
    gap: 20px;
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.25);
}


@media(max-width: 1170px) {


    .title {
        padding: 32px 23px;
    }

    .title h1 {
        font-size: 40px;
    }

    .pricecolumn{
        padding: 50px 23px;
        display: flex;
        flex-direction: column;
        gap:20px;
    }


    .pricecolumn h1{
        font-size: 20px;
    }

    .pricecolumn p{

        font-size: 16px;
    }

}
