@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("assets/fonts/Source\ Sans\ Pro/SourceSansPro-Regular.ttf") format("truetype");
}
.roleinfo{
    min-height: 70vh;
}

.title {
    padding: 68px 90px;
    background: #949396;
}

.title h1 {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    color: #2F2F2F;
}

.role{
    margin:50px 90px ;
    display: flex;
    flex-direction: column;

}

.role h1{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;
    color: #252525;
}

.users_with_role{
    padding: 0px 90px 50px;
    display: flex;
    flex-direction: column;
    gap:40px;
}

.users_with_role h1{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #252525;
}

.users_with_role a {
    display: flex;
    padding: 30px;
    background: #949396;
    border-radius: 10px;
    gap: 20px;
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.25);
}

.users_with_role a h1{
    font-size: 24px;
}

@media(max-width: 1170px) {


    .title {
        padding: 32px 23px;
    }

    .title h1 {
        font-size: 40px;
    }

} 