@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("assets/fonts/Source\ Sans\ Pro/SourceSansPro-Regular.ttf") format("truetype");
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 68px 90px;
    background: #949396;
}

.title svg {
    height: 55px;
    fill: #FFFFFF;
}

.title h1 {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    color: #2F2F2F;
}

.userinfo {
    margin: 50px 90px;
    display: flex;
    padding: 30px;
    background: #949396;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}

.general-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.avatar {
    height: 182px;
    background-color: #FFFFFF;
    border-radius: 100%;
}

.search-button {
    height: 30px;
}

.userinfo h1 {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;
    color: #252525;
}

.userinfo p {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 41px;
    color: #252525;
}

.orders {
    padding: 0px 90px 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.orders h1 {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #252525;
}

.orders p {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #252525;
}

.orders svg {
    height: 36px;
}

.orders-title {
    gap: 20px;
    display: flex;
    align-items: center;
}

.order {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: #949396;
    border-radius: 10px;
    gap: 20px;
}

.order h1 {
    font-size: 24px;
}

.order p {
    font-size: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    color: #252525;
}

.archive-wrap {
    min-height: 40vh;
    padding: 50px 0px;
}

.roles {
    padding: 50px 90px;
    display: flex;
    flex-direction: column;

    gap: 40px;
}

.roles h1 {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #252525;
}

.roles p {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #252525;
}

.roles svg {
    height: 36px;
}

.role-title {
    gap: 20px;
    display: flex;
    align-items: center;
}

.rolesrow {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
}

.rolesrow a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #949396;
    border-radius: 10px;
    gap: 20px;
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.25);
}

.rolesrow a h1 {
    font-size: 24px;
}

button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 0px solid transparent;
    background-color: rgba(83, 134, 228, 0.4);
    border-radius: 1.25em;
    transition: all 0.2s linear;
}

button:hover {
    box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
    8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
    17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
    36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
    99px 72px 143px rgba(0, 0, 0, 0.08);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 5em;
    background-color: rgba(0, 0, 0, 0.253);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 110%;
    font-family: 'Roboto';
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


@media (max-width: 1170px) {
    .avatar{
        height: 100px;
    }


    .title {
        padding: 32px 23px;
    }

    .title h1 {
        font-size: 40px;
    }


    .userinfo {
        margin: 32px 23px;
        width: auto;
        gap: 10px;
    }

    .userinfo h1 {
        font-size: 25px;

    }

    .orders{
        padding: 0px 23px;
    }

    .orders h1{
        font-size: 28px;
    }

    .order h1{
        font-size: 20px;
    }
    .order p{
        font-size: 16px;
    }
    .roles {
        padding: 50px 23px;
    }

    .roles h1{
        font-size: 28px;
    }
    .rolesrow a h1{
        font-size: 20px;
    }

}
